bin
obj
# Sistema operacional
.DS_Store
Thumbs.db

# Diretórios de build
/build/
/dist/
/out/

# Dependências
/node_modules/
/vendor/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.swp

# Configurações de IDE
.vscode/
.idea/
*.code-workspace

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Arquivos de cache
.cache/